@model Product

<form asp-controller="Products" asp-action="DeleteConferm" method="post">
    <input asp-for="Id" hidden />
    <div class="card col-md-5">
        <div class="card-header">
            <h3>Do You Want To Delete This :  @Model.ProductName</h3>
            <h3>Do You Want To Delete This :  @Model.Description</h3>
            <h3>Do You Want To Delete This :  @Model.ProductPrice</h3>
            <h3>Do You Want To Delete This :  @ViewBag.CategoryListData</h3>
        </div>
        <div class="card-body ">
            <input type="submit" value="Delete" class="btn btn-danger" />
        </div>

    </div>

</form>

