@model Category

<form asp-controller="Categorys" asp-action="Upsert" method="post" class="text-center mt-5">
          <label class="col-form-label">Category Name</label>
    <div>
        <input  type="text" asp-for="Name" placeholder="Enter category name" > 
    </div>
        <small class="form-text text-muted">Please choose a unique item name.</small>
          <div>
        <input type="submit" value="Submit" class="btn btn-success mt-3" />
          </div>


</form>