@model IEnumerable<Category>

@* <div> New Toaster Massage
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await Component.InvokeAsync("Notyf")
</div> *@


@* @if (TempData["Sucsess"] != null)
{
    <div class="alert alert-success">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
        <script>
            toastr.succes('@TempData["Sucsess"]');
        </script>
    </div>
} *@


<div class="mb-3">
    <a asp-area="Admin" asp-controller="Categorys" asp-action="Upsert" class="btn btn-outline-primary text-uppercase"><i class="bi bi-plus-lg"></i> Add More</a>
</div>

    <Table class="table table-hover table-bordered bg-warning ">
        <thead>
            <tr>
                 <th class="text-uppercase">Name</th>
                 <th class="text-uppercase">Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var categoryInModel in Model)
            {
                <tr>
                <td>
                    @categoryInModel.Name
                </td>
                <td>
                    <a class="btn btn-outline-warning text-uppercase" asp-controller="Categorys" asp-action="Upsert" asp-route-id="@categoryInModel.Id"><i class="bi bi-pencil-square"></i> Edit</a>
                    <a class="btn btn-outline-danger text-uppercase" asp-controller="Categorys" asp-action="Delete" asp-route-id="@categoryInModel.Id" onclick="return confirmDelete()"><i class="bi bi-x-octagon"></i> Delete</a>
                </td>
                </tr>
                

            }
        </tbody>
    </Table>


@section Scripts{
    <script>
        function confirmDelete(){
            return confirm("Are You Want To Delete This ?")
        }
    </script>
}