@model Category




<div class="m-2">
    <a asp-area="Admin" asp-action="List" asp-controller="categorys" class="btn btn-outline-primary text-uppercase "><i class="bi bi-list-ol"></i> Go To list</a>
</div>
<form asp-controller="Categorys" asp-action="Upsert" method="post" class="text-center mt-5">
   
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div>
          <label class="form-label">Category Name</label>
        <input type="text" asp-for="Name" placeholder="Enter category name" class="form-control">
        <span asp-validation-for="Name" class="text-danger"></span>

    </div>
        <small class="form-text text-muted">Please choose a unique item name.</small>
          <div class="text-center">
        <input type="submit" class="btn btn-outline-success mt-3 text-uppercase mx-4 " value=@(Model.Id==0 ? "ADD" : "EDIT") />
        <a asp-controller="Categorys" asp-action="List" class="btn btn-outline-warning mt-3 text-uppercase">Cancelled</a>

          </div>
</form> 

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}